

*{
	bottom: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;

}

                                               /*titre*/

 #title {
	 	text-transform: uppercase; 
	 	
	    top: 0%;
	 	text-decoration: underline;
	 	position: absolute;
	     
	 	text-align: center;
	    left: 20%;
	 	color: #bdb8d7;
	 	font-size: 25px;
        font-family: Arial Black;

}
#title h1{
	background-color: #2F332E;
	background-size: 715px 120px;
}

                                              /*menu de navigation*/

nav.menu-nav {
    position: relative;
    width: 100px;

}


nav.menu-nav ul li.btn {
  
   width: 190px;
   height: 100%;
   background: #2F332E;
   padding: 30px 0;
   display: block;
   text-align: center;
   
}

nav.menu-nav ul li.btn i{
      position: relative;


}

nav.menu-nav ul li.btn a{
	 position: relative;
	 color: #bdb8d7 ;
     padding: 20px 25px;
	 
}

nav.menu-nav ul li{
     padding: 15px;
     border-bottom: 1px solid rgba(0,0,0,0.05);
     border-top: 1px solid rgba(225,225,225,0.05);
     border-left: 10px;


}
nav.menu-nav ul li.btn1 {

	 width: 190px;
     height: 100%;
     background: #2F332E;
     padding: 20px 25px;
     display: block;
	 text-transform: uppercase;
	 text-align: center;
  
}

nav.menu-nav ul li.btn1 a{
	 padding: 20px 25px;
	 text-align: center;
}

nav.menu-nav ul li.btn1 a{
	color: #bdb8d7;
	
}

nav.menu-nav ul li.btn a,1{
	
	position: relative;
	
}
#svtpetit {
	padding: 30px 45px;
}

 
                                                /* annimation lors du clic*/

nav.menu-nav ul li:hover i{
	color: red;
	transition: 0.3s all;

} 
body{
	background-repeat: none;
	background-position: center;
	background-size: 1300px;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;

}


                                              /* mise en page de theme et chapitre histoire*/
div.sommaire  div.theme1,div.theme2,div.theme3 {
	 text-align: center;
	 color: red;
	 text-decoration: underline;
	 text-transform: uppercase;
	 position: absolute;
	 font-size: 25px;
     font-family: Arial Black;
     

}
div.sommaire div.theme1 {
	top: 8%;
	margin-left: 25%;
}

div.sommaire div.theme2 {
	top: 30%;
	margin-left: 22%;

	
}
div.sommaire div.theme3 {
	top: 60%;
	margin-left: 25%;
	
	
}
div.sommaire div.chapitre div.chapitre1{
	 
	 position: absolute;
	 text-decoration: underline;
	 font-size: 20px;
	 font-family: Helvetica;
     top: 15%;
     margin-left: 30%;
	 color: #bdb8d7;
	 display: block;
}

div.sommaire div.chapitre div.chapitre2{
	
	 position: absolute;
	 text-decoration: underline;
	 font-size: 20px;
	 font-family: Helvetica;
     top: 40%;
     margin-left: 30%;
	 color: #bdb8d7;
	 display: block;
}

div.sommaire div.chapitre div.chapitre3{
	 
	 position: absolute;
	 text-decoration: underline;
	 font-size: 20px;
	 font-family: Helvetica;
     top: 43%;
     margin-left: 30%;
	 color: #bdb8d7;
	 display: block;
}

div.sommaire div.chapitre div.chapitre4{
	 
	 position: absolute;
	 text-decoration: underline;
	 font-size: 20px;
	 font-family: Helvetica;
     top: 46%;
     margin-left: 30%;
	 color: #bdb8d7;
	 display: block;
}

div.sommaire div.chapitre div.chapitre5{
	 
	 position: absolute;
	 text-decoration: underline;
	 font-size: 20px;
	 font-family: Helvetica;
     top: 70%;
     margin-left: 30%;
	 color: #bdb8d7;
	 display: block;
}

div.sommaire div.chapitre div.chapitre6{
	 
	 position: absolute;
	 text-decoration: underline;
	 font-size: 20px;
	 font-family: Helvetica;
     top: 76%;
     margin-left: 30%;
	 color: #bdb8d7;
	 display: block;
}
div.sommaire div.chapitre div.chapitre7{
	 
	 position: absolute;
	 text-decoration: underline;
	 font-size: 20px;
	 font-family: Helvetica;
     top: 79%;
     margin-left: 30%;
	 color: #bdb8d7;
	 display: block;
}
                                                  /*chapitre 2 */

div.USA {
	position: absolute;
	width: 1600px;
	height: 114px;
	top: 0%;
	margin-left: 190px;
	
}
div.enteteusa h1{
      position: absolute;
      color: red;
      text-decoration: underline;
      top: 1%;
      margin-left: 200px;
      text-transform: uppercase;
      font-family: Helvetica;
      font-size: 15px;
}
div.enteteusa h2{
	  position: absolute;
      color: white;
      text-decoration: underline;
      top: 4%;
      margin-left: 200px;      
      font-family: Arial Black;
      font-size: 20px;
}

div.fichechap2 div.premiereparti h2 {
	 position: absolute;
	 top: 13%;
	 margin-left: 200px;
	 padding: 0.1px 8px;
	 color: white;
	 border-radius: 40px;
	 height: 28px;
	 width: 28px;
	 font-size: 20px;
     padding-top: center;
} 
div.fichechap2 div.premiereparti h1 {
	position: absolute;
	top: 13%;
	margin-left: 230px;
	color: black;
	font-family: Arial Black;
	font-size: 20px;
	text-decoration: underline;
}
div.fichechap2 div.premiereparti h1,h2 {
	padding: 5px 10px;
}

div.fichechap2 div.premiereparti span.partia {
	 position: absolute;
	 top: 19%;
	margin-left: 260px;
	color: black;
	font-family: Arial Black;
	font-size: 18px;
	padding: 10px 10px;
}
div.fichechap2 div.premiereparti span.a1 {
	position: absolute;
	top: 19%;
	margin-left: 280px;
	color: black;
	font-size: 18px;
	padding: 10px 10px;
	font-family: Arial Black;
}

div.fichechap2 div.premiereparti  ul li.a2 {
	position: absolute;
    top: 22%;
	margin-left: 300px;
	color: black;
	font-size: 16px;
	padding: 10px 10px;
	font-family: Helvetica;
	list-style-type: circle;
}
div.fichechap2 div.premiereparti  ul li.a3 {
	position: absolute;
    top: 27%;
	margin-left: 300px;
	color: black;
	font-size: 16px;
	padding: 10px 10px;
	font-family: Helvetica;
	list-style-type: circle;
}

div.fichechap2 div.premiereparti  ul li.a4 {
	position: absolute;
    top: 32%;
	margin-left: 300px;
	color: black;
	font-size: 16px;
	padding: 10px 10px;
	font-family: Helvetica;
	list-style-type: circle;
}
div.fichechap2 div.premiereparti span.partib {
	 position: absolute;
	 top: 35%;
	margin-left: 260px;
	color: black;
	font-family: Arial Black;
	font-size: 18px;
	padding: 10px 10px;
}
div.fichechap2 div.premiereparti span.a5 {
	position: absolute;
	top: 35%;
	margin-left: 280px;
	color: black;
	font-size: 18px;
	padding: 10px 10px;
	font-family: Arial Black;
}
div.fichechap2 div.premiereparti  ul li.a6 {
	position: absolute;
    top: 38%;
	margin-left: 300px;
	color: black;
	font-size: 16px;
	padding: 10px 10px;
	font-family: Helvetica;
	list-style-type: circle;
}
div.fichechap2 div.premiereparti  ul li.a7 {
	position: absolute;
    top: 41%;
	margin-left: 300px;
	color: black;
	font-size: 16px;
	padding: 10px 10px;
	font-family: Helvetica;
	list-style-type: circle;
}
div.fichechap2 div.premiereparti  ul li.a8 {
	position: absolute;
    top: 44%;
	margin-left: 350px;
	color: black;
	font-size: 16px;
	padding: 10px 10px;
	font-family: Helvetica;
	list-style-type: circle;
}
div.fichechap2 div.premiereparti  ul li.a9 {
	position: absolute;
    top: 47%;
	margin-left: 350px;
	color: black;
	font-size: 16px;
	padding: 10px 10px;
	font-family: Helvetica;
	list-style-type: circle;
}
div.fichechap2 div.premiereparti  ul li.a10 {
	position: absolute;
    top: 50%;
	margin-left: 300px;
	color: black;
	font-size: 16px;
	padding: 10px 10px;
	font-family: Helvetica;
	list-style-type: circle;
}
div.fichechap2 div.premiereparti span.partic {
	 position: absolute;
	 top: 54%;
	margin-left: 260px;
	color: black;
	font-family: Arial Black;
	font-size: 18px;
	padding: 10px 10px;
}
div.fichechap2 div.premiereparti span.a11 {
	position: absolute;
	top: 54%;
	margin-left: 280px;
	color: black;
	font-size: 18px;
	padding: 10px 10px;
	font-family: Arial Black;
}
div.fichechap2 div.premiereparti  ul li.a12 {
	position: absolute;
    top: 57%;
	margin-left: 300px;
	color: black;
	font-size: 16px;
	padding: 10px 10px;
	font-family: Helvetica;
	list-style-type: circle;
}
div.fichechap2 div.premiereparti  ul li.a13 {
	position: absolute;
    top: 60%;
	margin-left: 350px;
	color: black;
	font-size: 16px;
	padding: 10px 10px;
	font-family: Helvetica;
	list-style-type: circle;
}
div.fichechap2 div.premiereparti  ul li.a14 {
	position: absolute;
    top: 66%;
	margin-left: 350px;
	color: black;
	font-size: 16px;
	padding: 10px 10px;
	font-family: Helvetica;
	list-style-type: circle;
}
div.fichechap2 div.premiereparti  ul li.a15 {
	position: absolute;
    top: 69%;
	margin-left: 300px;
	color: black;
	font-size: 16px;
	padding: 10px 10px;
	font-family: Helvetica;
	list-style-type: circle;
}
div.fichechap2 div.deuxiemeparti h2 {
	 position: absolute;
	 top: 75%;
	 margin-left: 200px;
	 padding: 0.1px 8px;
	 color: white;
	 border-radius: 40px;
	 height: 28px;
	 width: 28px;
	 font-size: 20px;
     padding-top: center;
} 
div.fichechap2 div.deuxiemeparti h1 {
	position: absolute;
	top: 75%;
	margin-left: 230px;
	color: black;
	font-family: Arial Black;
	font-size: 20px;
	text-decoration: underline;
}
div.fichechap2 div.deuxiemeparti h1,h2 {
	padding: 5px 10px;
}
div.fichechap2 div.deuxiemeparti span.partia {
	 position: absolute;
	 top: 80%;
	margin-left: 260px;
	color: black;
	font-family: Arial Black;
	font-size: 18px;
	padding: 10px 10px;
}
div.fichechap2 div.deuxiemeparti span.a16 {
	position: absolute;
	top: 80%;
	margin-left: 280px;
	color: black;
	font-size: 18px;
	padding: 10px 10px;
	font-family: Arial Black;
}
div.fichechap2 div.deuxiemeparti  ul li.a17 {
	position: absolute;
    top: 84%;
	margin-left: 300px;
	color: black;
	font-size: 16px;
	padding: 10px 10px;
	font-family: Helvetica;
	list-style-type: circle;
}
div.fichechap2 div.deuxiemeparti  ul li.a18 {
	position: absolute;
    top: 90%;
	margin-left: 300px;
	color: black;
	font-size: 16px;
	padding: 10px 10px;
	font-family: Helvetica;
	list-style-type: circle;
}
div.fichechap2 div.deuxiemeparti  ul li.a19 {
	position: absolute;
    top: 93%;
	margin-left: 300px;
	color: black;
	font-size: 16px;
	padding: 10px 10px;
	font-family: Helvetica;
	list-style-type: circle;
}
div.fichechap2 div.deuxiemeparti  ul li.a20 {
	position: absolute;
    top: 96%;
	margin-left: 300px;
	color: black;
	font-size: 16px;
	padding: 10px 10px;
	font-family: Helvetica;
	list-style-type: circle;
}
div.fichechap2 div.deuxiemeparti  ul li.a21 {
	position: absolute;
    top: 100%;
	margin-left: 300px;
	color: black;
	font-size: 16px;
	padding: 10px 10px;
	font-family: Helvetica;
	list-style-type: circle;
}
div.fichechap2 div.deuxiemeparti span.partib {
	 position: absolute;
	 top: 104%;
	margin-left: 260px;
	color: black;
	font-family: Arial Black;
	font-size: 18px;
	padding: 10px 10px;
}
div.fichechap2 div.deuxiemeparti span.a22 {
	position: absolute;
	top: 104%;
	margin-left: 280px;
	color: black;
	font-size: 18px;
	padding: 10px 10px;
	font-family: Arial Black;
}
div.fichechap2 div.deuxiemeparti  ul li.a23 {
	position: absolute;
    top: 108%;
	margin-left: 300px;
	color: black;
	font-size: 16px;
	padding: 10px 10px;
	font-family: Helvetica;
	list-style-type: circle;
}
div.fichechap2 div.deuxiemeparti  ul li.a24 {
	position: absolute;
    top: 111%;
	margin-left: 300px;
	color: black;
	font-size: 16px;
	padding: 10px 10px;
	font-family: Helvetica;
	list-style-type: circle;
}
div.fichechap2 div.deuxiemeparti  ul li.a25 {
	position: absolute;
    top: 114%;
	margin-left: 350px;
	color: black;
	font-size: 16px;
	padding: 10px 10px;
	font-family: Helvetica;
	list-style-type: circle;
}
div.fichechap2 div.deuxiemeparti  ul li.a26 {
	position: absolute;
    top: 117%;
	margin-left: 350px;
	color: black;
	font-size: 16px;
	padding: 10px 10px;
	font-family: Helvetica;
	list-style-type: circle;
}
div.fichechap2 div.deuxiemeparti  ul li.a27 {
	position: absolute;
    top: 120%;
	margin-left: 350px;
	color: black;
	font-size: 16px;
	padding: 10px 10px;
	font-family: Helvetica;
	list-style-type: circle;
}
div.fichechap2 div.deuxiemeparti  ul li.a28 {
	position: absolute;
    top: 123%;
	margin-left: 300px;
	color: black;
	font-size: 16px;
	padding: 10px 10px;
	font-family: Helvetica;
	list-style-type: circle;
}











                                                          /*Chine*/
div.chine {
	position: absolute;
	width: 1600px;
	height: 114px;
	top: 0%;
	margin-left: 190px;
}
div.entetechine h1{
      position: absolute;
      color: red;
      text-decoration: underline;
      top: 1%;
      margin-left: 200px;
      text-transform: uppercase;
      font-family: Helvetica;
      font-size: 15px;
}
div.entetechine h2{
	  position: absolute;
      color: white;
      text-decoration: underline;
      top: 4%;
      margin-left: 200px;      
      font-family: Arial Black;
      font-size: 20px;
}
